<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Agregar Tarea </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarea</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input
        [(ngModel)]="nuevaTarea"
        placeholder="Ingrese una tarea"
      ></ion-input>
    </ion-card-content>

    <ion-button routerLink="/home" fill="clear" (click)="agregarTarea()"
      >Agregar Tarea</ion-button
    >
  </ion-card>
</ion-content>
